{%extends "base.html"%}
{%block title%}Login{%endblock%}
{%block content%}
    <style>
        .e1_2 { 
            overflow:hidden;
        }
        .e1_2 { 
            background-color:rgba(0, 0, 0, 1);
            width:1200px;
            height:1200px;
            position:absolute;
        }
        .e1_10 { 
            background-color:rgba(129.00000751018524, 104.00000140070915, 15.000000055879354, 1);
            width:234px;
            height:82px;
            position:absolute;
            left:483px;
            top:690px;
            border-top-left-radius:20px;
            border-top-right-radius:20px;
            border-bottom-left-radius:20px;
            border-bottom-right-radius:20px;
        }
        .e1_13 { 
            color:rgba(0, 0, 0, 1);
            width:67px;
            height:30px;
            position:absolute;
            left:566px;
            top:716px;
            font-family:Inter;
            text-align:left;
            font-size:25px;
            letter-spacing:0;
        }
        .e3_2 { 
            background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width:498px;
            height:64px;
            position:absolute;
            left:351px;
            top:358px;
            border-top-left-radius:12px;
            border-top-right-radius:12px;
            border-bottom-left-radius:12px;
            border-bottom-right-radius:12px;
        }
        .e3_3 { 
            background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width:498px;
            height:64px;
            position:absolute;
            left:351px;
            top:536px;
            border-top-left-radius:12px;
            border-top-right-radius:12px;
            border-bottom-left-radius:12px;
            border-bottom-right-radius:12px;
        }
        .e3_4 { 
            color:rgba(255, 255, 255, 1);
            width:132px;
            height:38px;
            position:absolute;
            left:351px;
            top:314px;
            font-family:Poppins;
            text-align:left;
            font-size:25px;
            letter-spacing:0;
        }
        .e3_5 { 
            color:rgba(255, 255, 255, 1);
            width:25px;
            height:38px;
            position:absolute;
            left:353px;
            top:492px;
            font-family:Poppins;
            text-align:left;
            font-size:25px;
            letter-spacing:0;
        }
        .e8_2 { 
            opacity:0.20000000298023224;
            width:2010px;
            height:1131px;
            position:absolute;
            left:-301px;
            top:69px;
            background-image:url(images/afp_9dd4kz_1629870213363_1633981481927_1.png);
            background-repeat:no-repeat;
            background-size:cover;
        }
        
    </style>
    <div class=e1_2>
        <div class="e1_10"></div><span  class="e1_13">Login</span>
        <div class="e3_2"></div>
        <div class="e3_3"></div><span  class="e3_4">Username</span><span  class="e3_5">ID </span>
        <div class="e8_2"></div>
    </div>
{%endblock%}